* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

html {
    font-size: 62.5%;
    /* height: 100%; */
}

body {
    background: url('img/bg1920.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.app {
    padding: 1em;
    min-height: 100vh;
}

.search_panel {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    padding: 0em 0em 1em ;
}

.search_panel button, input {
    font-size: 1.5rem;
    padding: 1em;
    border: none;
    box-shadow: 0.2em 0.2em 0.2em black;
    background-color: rgb(230, 235, 225);
    border-radius: 0.5em;
}

.search_panel button {
    cursor: pointer;
}

.search_panel button:hover {
    background-color: rgb(205, 210, 200);
}

.return {
    display: none;
}

.search_panel input {
    width: 20em;
}

.search_panel button:focus, .search_panel input:focus {
    background-color: white;
    outline: 0.1em solid rgb(60, 160, 35);
}

.return {
    justify-self: center;
}

.movies_list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.5em;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(230, 235, 225);
}

li {
    background-color: rgba(255, 255, 255, 0.1);
    background-image: radial-gradient(circle, rgba(60, 160, 35, 0.9) 0%, rgba(54, 44, 19, 0.8) 100%);
    box-shadow: 0.5em 0.5em 0.5em rgb(0, 0, 0);
    border-radius: 0.5em;
    overflow: hidden;
}

ul img {
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 482/722;
    box-shadow: 0em 0.2em 2em rgb(60, 160, 35);
}

.info-container {
    position: relative;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 0.75em black;
}

.info-title {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.75rem;
    font-style: normal;
}

.pages_scroller {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 0.5em;
    padding: 1em;
    color: white;
}

.page_btn {
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.page_btn[disabled] {
    color: grey;
}

.page_btn:hover {
    color: rgb(230, 235, 225);
    transform: scale(1.1);
}

.page_btn[disabled]:hover {
    color: grey;
    transform: scale(1);
}

.themoviedb-info {
    display: none;
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    background-color: black;
}

.themoviedb-info a {
    width: 100%;
    height: 100%;
}


/* DETAIL */

.movie_detail {
    margin: 0 auto;
    width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.movie_detail img {
    height: 20rem
}


@media (max-width: 1400px) {
    .movies_list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 992px) {
    .search_panel input {
        width: unset;
    }
    .movies_list {
        grid-template-columns: repeat(4, 1fr);
    }
    body {
        background: url('img/bg1280.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .movies_list {
        grid-template-columns: repeat(2, 1fr);
    }
}